.header-text {
  margin: 20px auto;
  text-align: center;
  font-size: 25px;
}

.route {
  margin-top: 50px;
  /* text-align: center; */
}

form {
  margin: 0 auto;
  padding: 20px;
  width: 650px;
  border: 1px solid lightgray;
  border-radius: 10px;
}